<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95216773866-714pip2n0p15ji2vj9u6pvg5dil9ne5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95216773866-714pip2n0p15ji2vj9u6pvg5dil9ne5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBwEnbObTdn9R4PqIVQbFf7VLd6SBqZxOM</string>
	<key>GCM_SENDER_ID</key>
	<string>95216773866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eclipsedevelop.moth</string>
	<key>PROJECT_ID</key>
	<string>moth-27a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>moth-27a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95216773866:ios:b119900fd153c4e1000593</string>
</dict>
</plist>